* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #021f3b;
    --color-secundary: #cf870a;
    --color-third: #000000;
    --color-fourt: #0BC8BA;
    --color-fifth: #FFFFFF;
}

body {
    font-family: 'Fira Sans', sans-serif;
}


/**============Sección Name=============**/

.name {
    width: 100%;
    height: 550px;
    z-index: -10;
    top: 50px;
}

.name .name-information {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name .name-information h1 {
    font-size: 60px;
    color: var(--color-secundary);
}

.name .name-information p {
    font-size: 30px;
    color: var(--color-fifth);
}

.name .name-information span {
    color: var(--color-fourt);
    font-weight: 600;
}

.name .name-information h1,
p {
    padding: 10px;
}

.name .name-avatar {
    display: none;
}

/**============Fin Sección Name=============**/


/**============Inicio Sección Información=============**/

.about-me {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me .profile-picture {
    width: 260px;
    height: 300px;
    border: 6px solid var(--color-fourt);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture--image {
    width: 100%;
    height: 100%;
}

.profile-picture .profile-picture--image img {
    width: 100%;
    height: 100%;
}

.about-me .container-parrafo {
    width: 100%;
    height: auto;
    padding: 16px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me .container-parrafo h2 {
    text-align: center;
    font-size: 40px;
    color: var(--color-secundary);
}

.about-me .container-parrafo p {
    font-size: 20px;
    text-align: justify;
    color: var(--color-fifth);
}

.about-me .container-parrafo h2,
p {
    padding: 10px;
}

.container-parrafo a {
    text-decoration: none;
}

.container-parrafo .btn-cv {
    width: 200px;
    height: 50px;
    margin: 24px 14px 14px 14px;
    padding: 12px;
    background-color: var(--color-secundary);
    color: var(--color-fifth);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: all 0.5s;
}

.container-parrafo .btn-cv:hover {
    background-color: var(--color-fifth);
    color: var(--color-primary);
}

/**============Fin Sección Información=============**/

/**============Inicio Portafolio=============**/

.portfolio {
    width: 100%;
    height: auto;
    top: 24px;
}

.portfolio h2{
    text-align: center;
    font-size: 40px;
    padding: 8px;
    color: var(--color-secundary);
}

.portfolio .portfolio-items {
    width: 100%;
    margin-top: 14px;
    display: grid;
    grid-template-columns: 4, 2fr;
}

.portfolio .portfolio-items .portfolio-items__images {
    width: 260px;
    height: 200px;
    margin: 12px auto;
    padding: 10px;
    box-shadow: inset 5em 1em var(--color-fourt);
}

.portfolio .portfolio-items .portfolio-items__images img{
    width: 100%;
    height: 100%;
}

/**============Fin Portafolio=============**/





/**============Mostar Avatar=============**/

@media screen and (min-width: 768px) {
    .name {
        height: 760px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .name .name-information {
        text-align: center;
    }

    .name .name-avatar {
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name .name-avatar img {
        width: 360px;
        height: 360px;
    }

}

/**============Fin Avatar=============**/

/**============Inicio madia Información=============**/

@media screen and (min-width: 768px) {
    .container {
        width: 86%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }

    .about-me {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me .container-parrafo {
        width: 60%;
        margin-top: 40px;
    }

    .about-me {
        height: 840px;
    }

    .about-me .profile-picture {
        width: 360px;
        height: 400px;

    }
}

/**============Fin madia Información=============**/


/**============Inicio madia técnologia=============**/
.technologies {
    width: 100%;
    height: 600px;
    background-color: #0BC8BA;
}

/**============Inicio madia portafolio=============**/


@media screen and (min-width: 700px) {
    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portfolio .portfolio-items .portfolio-items__images {
        width: 200px;
        height: 200px;
        margin: auto;
        padding: 10px;
        box-shadow: inset 5em 1em var(--color-fourt);
    }
}

@media screen and (min-width: 900px) {

    .portfolio {
        width: 100%;
        height: 600px;
        
    }

    .portfolio .portfolio-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .portfolio .portfolio-items .portfolio-items__images {
        width: 260px;
        height: 200px;
    }
}

@media screen and (min-width: 1000px) {
    .portfolio .portfolio-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .portfolio .portfolio-items .portfolio-items__images {
        width: 320px;
        height: 200px;
    }
}

/**============Fin Portafolio=============**/
