* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #FFFFFF;
    --color-secundary: #cf870a;
    --color-third: #000000;
    --color-fourt: #0BC8BA;
    --color-fifth: #021f3b;
    --color-sexty: rgb(187, 238, 243)F;

}

body {
    font-family: 'Fira Sans', sans-serif;
    min-width: 300px;
    margin: auto;
    background-color: #5a7872d2;
    background-image: url("../assets/images/wolf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 12px;
    margin-bottom: 24px;
    margin-top: 14px;
    color: var(--color-secundary);
}

main {
    height: 100%;
    position: relative;
    min-width: 300px;
    /* top: -100px; */
    top: -3px;
}

/**============Sección Name=============**/

.container {
    position: relative;
    background-color: #FFFFFF;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


.name {
    width: 100%;
    height: 700px;
    position: relative;
}

.name .name-information {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name .name-information h1 {
    font-size: 60px;
    color: var(--color-secundary);
}

.name .name-information p {
    font-size: 30px;
    color: var(--color-fifth);
}

.name .name-information span {
    color: var(--color-fourt);
    font-weight: 600;
}

.name .name-information h1,
p {
    padding: 10px;
}

.name .name-avatar {
    display: none;
}

/**============Fin Sección Name=============**/


/**============Inicio Sección Información=============**/

.about-me {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-me .profile-picture {
    width: 260px;
    height: 300px;
    border: 6px solid var(--color-fourt);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.profile-picture--image {
    width: 100%;
    height: 100%;
}

.profile-picture .profile-picture--image img {
    width: 100%;
    height: 100%;
}

.about-me .container-parrafo {
    width: 100%;
    height: auto;
    padding: 16px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.about-me .container-parrafo p {
    font-size: 20px;
    text-align: justify;
    color: var(--color-fifth);
}

.about-me .container-parrafo h2,
p {
    padding: 10px;
}

.container-parrafo a {
    text-decoration: none;
}

.container-parrafo .btn-cv {
    width: 200px;
    height: 50px;
    margin: 24px 14px 14px 14px;
    padding: 12px;
    background-color: var(--color-secundary);
    color: var(--color-fifth);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: all 0.5s;
}

.container-parrafo .btn-cv:hover {
    background-color: var(--color-fifth);
    color: var(--color-primary);
}

/**============Fin Sección Información=============**/

/**============Inicio Portafolio=============**/

.portfolio {
    width: 100%;
    height: 2048px;
    top: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.portfolio .portfolio-items {
    width: 100%;
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.portfolio .portfolio-items img:first-child {
    background-color: var(--color-fifth);
}

.portfolio .portfolio-items .portfolio-items__images {
    width: 280px;
    height: 200px;
    margin: 12px auto;
    padding: 10px;
    box-shadow: inset 5em 1em var(--color-fourt);
}


.portfolio .portfolio-items .portfolio-items__images img {
    width: 100%;
    height: 200px;
}


.btn-validate {
    width: 100px;
    height: 40px;
    top: 204px;
    left: 110px;
    margin: auto;
}

.btn-validate img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}




/**============Fin Portafolio=============**/

/**============Inicio madia técnologia=============**/
.technologies {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.technologies .technologies-container {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.technologies-container--items {
    width: 80px;
    height: 80px;
    padding: 12px;
}

.technologies-container--items img {
    width: 100%;
    height: 100%;
}

/**============Fin madia técnologia=============**/


/**============Inicio madia footer=============**/
footer {
    width: 100%;
    height: 500px;
    background-color: var(--color-fifth);
    display: flex;
    align-items: center;
}

footer .cont{
    width: 100%;
    height: auto;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.cont .logo-footer--item {
    width: 446px;
    height: 133px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont .logo-footer--item img{
    width: 200px;
    height: 133px;
}

.cont .copy-footer {
    width: 446px;
    height: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .red-footer {
    width: 446px;
    height: 100px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont .copy-footer p {
    font-size: 12px;
}


.cont .red-footer a{
    width: 60px;
    padding: 12px;
}

.cont .red-footer a img{
    width: 100%;
}

/**============Fin madia footer=============**/




/**===============MediasQuerys====================**/




/**============Mostar Avatar=============**/

@media screen and (min-width: 768px) {
    .name {
        height: 760px;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
    }

    .name .name-information {
        text-align: center;
    }

    .name .name-avatar {
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name .name-avatar img {
        width: 360px;
        height: 360px;
    }

}

/**============Fin Avatar=============**/

/**============Inicio madia Información=============**/

@media screen and (min-width: 768px) {
    .container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }

    .about-me {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .about-me {
        height: 840px;
    }

    .about-me .profile-picture {
        width: 360px;
        height: 400px;

    }
}

/**============Fin madia Información=============**/



/**============Inicio madia portafolio=============**/


@media screen and (min-width: 900px) {

    .about-me {
        height: 800px;
    }

    .about-me .profile-picture {
        width: 228px;
        height: 300px;
        margin: 14px;
    }

    .about-me .container-parrafo {
        width: 80%;
        margin-top: 40px;
    }


    .portfolio {
        width: 100%;
        height: 800px;
    }


    .portfolio .portfolio-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .portfolio .portfolio-items .portfolio-items__images {
        width: 90%;
        height: 200px;
    }

    .technologies {
        height: 900px;
    }

    .technologies .technologies-container {
        margin: 16px;
    }

    .technologies-container .technologies-container--items {
        margin: auto;
    }


}

@media screen and (min-width: 1000px) {
    .name {
        height: 1000px;
        position: relative;
        top: -80px;
    }

    .name .name-avatar img {
        width: 440px;
        height: 440px;
    }

    .name .name-information h1 {
        width: 500px;
        margin: 26px;
        font-size: 68px;
    }

    .name .name-information h1,
    p {
        width: 500px;
        margin: 26px;
    }


    .about-me {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .about-me .profile-picture {
        width: 400px;
        height: 500px;
        margin: auto auto;
    }

    .portfolio {
        width: 100%;
        height: 1000px;
    }

    .portfolio .portfolio-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .portfolio .portfolio-items .portfolio-items__images {
        width: 340px;
        height: 240px;
    }

    .technologies-container {
        margin: 34px 16px 16px 16px;
    }

    .technologies-container--items {
        width: 160px;
        height: 160px;
        padding: 12px;
    }
}

/**============Fin Portafolio=============**/


@media screen and (min-width: 800px) {
    
footer {
    width: 100%;
    height: 400px;
    background-color: var(--color-fifth);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .cont{
    width: 100%;
    height: 120px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cont .logo-footer--item {
    width: 446px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont .logo-footer--item img{
    width: 200px;
    height: 100px;
}

.cont .copy-footer {
    width: 446px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .red-footer {
    width: 446px;
    height: 100px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont .red-footer a{
    width: 60px;
    padding: 12px;
}

.cont .red-footer a img{
    width: 100%;
}
}

