*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-primary: #021f3b;
    --color-secundary: #C97F00;
    --color-fifth: #FFFFFF;
}

body {
    background-color: var(--color-primary);
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
    z-index: 1;
}


header .navbar {
    background-color: #021f3b !important;
}

.main-menu__item {
    padding: 1em;
}

.main-menu__item a {
    transition: all 1s;
}

.main-menu__item a:hover {
    color: #FFFFFF;
}

.navbar-toggler {
    background-color: #FFFFFF !important;
}

.main-menu__link {
    color: var(--color-secundary);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.main-menu i {
    max-width: 100%;
}

.main-menu--show {
    transform: translateY(0);
}

.toggle-menu {
    position: absolute;
    top: 0.7rem;
    right: 1.5rem;
    width: 40px;
    cursor: pointer;
    filter: invert(1);
}




@media screen and (min-width: 768px) {
    .main-menu {
        flex-direction: row;
        transform: translateY(0);
    }

    .main-menu__link:hover {
        color: var(--color-fifth);
    }
}

@media screen and (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
}

