<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icons/Logo.jpg" />

    <!--============Mis Css=============-->
    <link rel="stylesheet" href="../style/certificados.css">

    <!--============boostraps=============-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--============Animacion Css=============-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--============iconos=============-->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <!--============fonts=============-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;600;700&display=swap"
        rel="stylesheet">

    <title>Certificados</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/icons/LogoFooter-2.png" alt="" width="100px" height="100%">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="main-menu__item">
                            <a href="../index.html" class="main-menu__link">Volver</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="../views/form.html" class="main-menu__link">Contáctame</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="w-100 h-50 p-4 text-center  certificate-tittle">
            <h1>Mis Certificados</h1>
        </div>
        <div class="container d-flex justify-content-center align-items-lg-center">
            
            <div class="row">
                <div class="col-sm mb-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="../assets/certificados/html css.jpg" alt="Imagen Certificado HTML">
                    </div>
                    <a href="../assets/pdf/Diploma_html_css.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Certificado HTML y CSS">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="../assets/certificados/Css Practico.jpg" alt="Imagen Certificado CSS">
                    </div>
                    <a href="../assets/pdf/Diploma_practico_css.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Certificado CSS">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="../assets/certificados/básico javascript.jpg" alt="Imagen Certificado JavaScript Básico">
                    </div>
                    <a href="../assets/pdf/Diploma_básico_javascript.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Certificado JavaScript Básico">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="../assets/certificados/Javascript Practico.jpg" alt="Imagen Certificado JavaScript Práctico">
                    </div>
                    <a href="../assets/pdf/Diploma_Javascript_Practico.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Certificado JavaScript Práctico">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="../assets/certificados/prework windows.jpg" alt="Imagen Certificado prework windows">
                    </div>
                    <a href="../assets/pdf/Diploma_prework_windows.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Prework Windows">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="../assets/images/imgoOracle/Programacion Principiantes.png" alt="Certificado Oracle - Alura LATAM">
                    </div>
                    <a href="../assets/pdf/CertificadosOracle/Helver Johan Peña Gordillo - Formación -ONE.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Formación Principiante en Programación G3 - ONE">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        <img src="/assets/images/imgoOracle/Desarrollo Personal.png" alt="Certificado Oracle Alura LATAM Desarrollo Personal">
                    </div>
                    <a href="../assets/pdf/CertificadosOracle/Helver Johan Peña Gordillo - Formación - Desarrollo Personal.pdf" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Certificado Desarrollo Personal Orecle - Alura LATAM">Descargar</a>
                </div>
                <div class="col-sm d-flex flex-column justify-content-center align-items-center">
                    <div class="col-certificado">
                        
                    </div>
                    <a href="#" class="btn btn-outline-primary mt-2 mb-2 mx-1 my-2" download="Certificado HTML y CSS">Descargar</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="cont">
            <div class="logo-footer--item">
                <img src="../assets/icons/LogoFooter-2.png" alt="">
            </div>
            <div class="copy-footer">
                <p class="text-white">© Copyright 2022. Todos los derechos reservados</p>
            </div>
            <div class="red-footer">
                <a href="https://wa.me/573058162244">
                    <img src="../assets/icons/whatsapp.png" alt="icono whatsapp">
                </a>
                <a href="https://www.facebook.com/helverjohanp">
                    <img src="../assets/icons/facebook-app-symbol.png" alt="icono facebook">
                </a>
                <a href="https://www.instagram.com/johanpg12/">
                    <img src="../assets/icons/instagram.png" alt="icono instagram">
                </a>
                <a href="https://twitter.com/JOHANPG12">
                    <img src="../assets/icons/twitter.png" alt="icono twitter">
                </a>
                <a href="https://www.linkedin.com/in/helver-johan-pe%C3%B1a-gordillo-434b0a200">
                    <img src="../assets/icons/linkedin.png" alt="icono linkedin">
                </a>
            </div>
        </div>
    </footer>
</body>

<!--===========Scripts boostrasp================-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

<!--===========Script página animación================-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!--===========Script Alertas================-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>